extends layouts/main-layout.pug

block content
    h1 Welcome to Social Clone!
    p firstName: #{user.firstName}
    p lastName: #{user.lastName}
    p username: #{user.username} 
    p email: #{user.email}
    