/* ------- Colors ---------*/
$color-blue: #1FA2F1;
$color-icon-background:#d4edff;
$color-border-ligntGrey: rgb(230,236,240);
$color-link: #212529;
$-color-disabled: #9BD1F9;
$color-grey-text: rgb(101,119,134);
$grey-button-text: rgba(0,0,0,0.34);
$color-like-red: rgb(226,34,95);
$color-retweet-green: rgb(23,191,99);
$-colore-like-bg: rgba(226,34,95,0.1);
$-color-retweet-bg: rgba(23,191,99,0.1);

/*------ Variables -------*/
$spacing:15px;
$common-font-size:19px;


*{
    outline: none !important;
}


//-----------------
// WRAPPER (ROW)
//-----------------
.wrapper{

    //================= COMMON STYLES =================
    /*link*/
    a{
        color: inherit; /*from parent elemtnt*/
        &:hover{
            color: inherit;
            text-decoration: none;
        }
    }
 
    /*customizing h1*/
    h1{
        font-size: $common-font-size;
        font-weight: 800;
        margin: 0;
    }
   //---------------------------------------------------


    //=============
    /* Navbar    */
    //============
    nav{
        /*background-color: lightblue;*/
        display:flex;
        flex-direction:column; /*down*/
        align-items:flex-end;
        height:100%;

        .blue{
            color:$color-blue;
        }
        
        /*icons*/
        a{
            /*to align in center*/
            display: flex;
            align-items: center;
            justify-content: center;
            
            color: $color-link;
            padding: 10px;
            font-size: 30px;
            width: 55px;
            height: 55px;

            &:hover{
                background-color: $color-icon-background;
                border-radius: 50%;
                color: $color-blue;
            }
        }
    }

    //===========================
    /* MAIN SECTION CONTAINER */
    //===========================
    .mainSectionContainer{
        /*background-color: blue;*/
        padding: 0;
        border-right: 1px solid $color-border-ligntGrey;
        border-left: 1px solid $color-border-ligntGrey;
        display: flex;
        flex-direction: column;

        /*Title*/
        .titleContainer{
            padding: 0 $spacing; /*top,down=0*/
            height: 53px;
            /*center*/
            display: flex;
            align-items: center;
            /*border bottom*/
            border-bottom: 1px solid $color-border-ligntGrey;
            flex-shrink: 0; /*stops collapsing*/
            h1{
               flex: 1; /*right side*/ 
            }
        }

        //____________________________
        /*-- CREATE POST Container  --*/
        //____________________________
        //POST Form CONTAINER
        .postFormContainer{
            display: flex;
            padding: $spacing;
            border-bottom: 10px solid $color-border-ligntGrey;
            flex-shrink: 0; /*for safari*/

            /*Image Container*/
            .userImageContainer{
                width: 50px;
                height: 50px;

               /*Responsive Image*/
                img{
                    width:100%; /*100% of container*/
                    border-radius: 50%;
                   background-color: white;
                }
            }

            /*TEXTAREA Container*/
            .textareaContainer{
                flex: 1; /*TakeUp remaining space of the container*/
                padding-left: $spacing;

                //textarea
                textarea{
                    width: 100%;
                    border: none;
                    resize: none;
                    font-size: $common-font-size;
                }

                /*Button*/
                #submitPostButton{
                    background-color: $color-blue;
                    color: white;
                    border: none;
                    border-radius: 48px;
                    padding: 7px 14px;

                    &:disabled{
                        background-color: $-color-disabled;
                    }
                }
            }
        }  

        //___________________________
        /*-- SHOW POSTS CONTAINER --*/
        //___________________________
        .postsContainer{
            .post{
                display: flex;
                flex-direction: column;
                padding: $spacing;
                cursor: pointer;
                flex-shrink: 0;
                border:1px solid $color-border-ligntGrey;


                //**RETWEET Post Text**
                .postActionContainer{
                    padding-left:35px;
                    font-size: 13px;
                    color: $color-grey-text;
                    margin-bottom: 5px;
                }

                //MainContent Container
                .mainContentContainer{
                    display: flex; /*row by default*/
                    flex:1; /*occupy full remaining width of container*/

                    //.userImageContainer

                    //PostContent Container
                    .postContentContainer{
                        padding-left:$spacing;
                        display: flex;
                        flex: 1;
                        flex-direction: column;

                        //Header
                        .header{
                            span{
                                padding-right: 5px;
                            }
                            a{
                                padding-right: 5px;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }

                            .displayName{
                                font-weight: bold;
                            }
                            .userName,.date{
                                color: $color-grey-text;
                            }
                        }
                    }

                    //Post Body

                    //Post Footer
                    .postFooter{
                        display: flex;
                        flex:1; /*occupy full container width*/
                        align-items: center;

                        //ACTIVE/DEACTIVE retweet  button
                        .postButtonContainer.green{
                            button.active{
                                color: $color-retweet-green;
                            }
                            button:hover{
                                background-color: $-color-retweet-bg;
                                color: $color-retweet-green;
                            }
                        }

                        //ACTIVE/DEACTIVE like(heart) button
                        .postButtonContainer.red{
                            button.active{
                                color: $color-like-red;
                            }
                            button:hover{
                                background-color: $-colore-like-bg;
                                color: $color-like-red;
                            }
                        }

                        .postButtonContainer{
                            flex:1; /*occupy full container width*/
                            display: flex;
                            //flex-direction: row;
                         
                            button{
                                //flex:1 !important; /*occupy full container width*/
                                padding: 2px 5px;
                                background: transparent;
                                color: $grey-button-text;
                                border: none !important;

                                //**Dont register any pointer events- eg:Click(in ajax) on i, span**
                                i,span{
                                    pointer-events: none;
                                }

                                &:hover{
                                    border-color: #d4adff;
                                    border-radius: 50%;
                                    color: $color-blue;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}


 /*Image Container*/
 .userImageContainer{
    width: 50px;
    height: 50px;

   /*Responsive Image*/
    img{
        width:100%; /*100% of container*/
        border-radius: 50%;
       background-color: white;
    }
}

.noResults{
   margin-left: 10px;
}


