/* ------- Colors ---------*/
/*------ Variables -------*/
* {
  outline: none !important; }

.wrapper {
  /*link*/
  /*customizing h1*/
  /* Navbar    */
  /* MAIN SECTION CONTAINER */ }
  .wrapper a {
    color: inherit;
    /*from parent elemtnt*/ }
    .wrapper a:hover {
      color: inherit;
      text-decoration: none; }
  .wrapper h1 {
    font-size: 19px;
    font-weight: 800;
    margin: 0; }
  .wrapper nav {
    /*background-color: lightblue;*/
    display: flex;
    flex-direction: column;
    /*down*/
    align-items: flex-end;
    height: 100%;
    /*icons*/ }
    .wrapper nav .blue {
      color: #1FA2F1; }
    .wrapper nav a {
      /*to align in center*/
      display: flex;
      align-items: center;
      justify-content: center;
      color: #212529;
      padding: 10px;
      font-size: 30px;
      width: 55px;
      height: 55px; }
      .wrapper nav a:hover {
        background-color: #d4edff;
        border-radius: 50%;
        color: #1FA2F1; }
  .wrapper .mainSectionContainer {
    /*background-color: blue;*/
    padding: 0;
    border-right: 1px solid #e6ecf0;
    border-left: 1px solid #e6ecf0;
    display: flex;
    flex-direction: column;
    /*Title*/
    /*-- CREATE POST Container  --*/
    /*-- SHOW POSTS CONTAINER --*/ }
    .wrapper .mainSectionContainer .titleContainer {
      padding: 0 15px;
      /*top,down=0*/
      height: 53px;
      /*center*/
      display: flex;
      align-items: center;
      /*border bottom*/
      border-bottom: 1px solid #e6ecf0;
      flex-shrink: 0;
      /*stops collapsing*/ }
      .wrapper .mainSectionContainer .titleContainer h1 {
        flex: 1;
        /*right side*/ }
    .wrapper .mainSectionContainer .postFormContainer {
      display: flex;
      padding: 15px;
      border-bottom: 10px solid #e6ecf0;
      flex-shrink: 0;
      /*for safari*/
      /*Image Container*/
      /*TEXTAREA Container*/ }
      .wrapper .mainSectionContainer .postFormContainer .userImageContainer {
        width: 50px;
        height: 50px;
        /*Responsive Image*/ }
        .wrapper .mainSectionContainer .postFormContainer .userImageContainer img {
          width: 100%;
          /*100% of container*/
          border-radius: 50%;
          background-color: white; }
      .wrapper .mainSectionContainer .postFormContainer .textareaContainer {
        flex: 1;
        /*TakeUp remaining space of the container*/
        padding-left: 15px;
        /*Button*/ }
        .wrapper .mainSectionContainer .postFormContainer .textareaContainer textarea {
          width: 100%;
          border: none;
          resize: none;
          font-size: 19px; }
        .wrapper .mainSectionContainer .postFormContainer .textareaContainer #submitPostButton {
          background-color: #1FA2F1;
          color: white;
          border: none;
          border-radius: 48px;
          padding: 7px 14px; }
          .wrapper .mainSectionContainer .postFormContainer .textareaContainer #submitPostButton:disabled {
            background-color: #9BD1F9; }
    .wrapper .mainSectionContainer .postsContainer .post {
      display: flex;
      flex-direction: column;
      padding: 15px;
      cursor: pointer;
      flex-shrink: 0;
      border: 1px solid #e6ecf0; }
      .wrapper .mainSectionContainer .postsContainer .post .mainContentContainer {
        display: flex;
        /*row by default*/
        flex: 1;
        /*occupy full remaining width of container*/ }
        .wrapper .mainSectionContainer .postsContainer .post .mainContentContainer .postContentContainer {
          padding-left: 15px;
          display: flex;
          flex: 1;
          flex-direction: column; }
          .wrapper .mainSectionContainer .postsContainer .post .mainContentContainer .postContentContainer .header span {
            padding-right: 5px; }
          .wrapper .mainSectionContainer .postsContainer .post .mainContentContainer .postContentContainer .header a {
            padding-right: 5px; }
            .wrapper .mainSectionContainer .postsContainer .post .mainContentContainer .postContentContainer .header a:hover {
              text-decoration: underline; }
          .wrapper .mainSectionContainer .postsContainer .post .mainContentContainer .postContentContainer .header .displayName {
            font-weight: bold; }
          .wrapper .mainSectionContainer .postsContainer .post .mainContentContainer .postContentContainer .header .userName, .wrapper .mainSectionContainer .postsContainer .post .mainContentContainer .postContentContainer .header .date {
            color: #657786; }
        .wrapper .mainSectionContainer .postsContainer .post .mainContentContainer .postFooter {
          display: flex;
          align-items: center; }
          .wrapper .mainSectionContainer .postsContainer .post .mainContentContainer .postFooter .postButtonContainer {
            flex: 1;
            /*occupy full container width*/
            display: flex; }
            .wrapper .mainSectionContainer .postsContainer .post .mainContentContainer .postFooter .postButtonContainer button {
              flex: 1 !important;
              /*occupy full container width*/
              padding: 2px 5px;
              background: transparent;
              color: rgba(0, 0, 0, 0.34);
              border: none !important; }
              .wrapper .mainSectionContainer .postsContainer .post .mainContentContainer .postFooter .postButtonContainer button:hover {
                border-color: #d4adff;
                border-radius: 50%;
                color: #1FA2F1; }

/*Image Container*/
.userImageContainer {
  width: 50px;
  height: 50px;
  /*Responsive Image*/ }
  .userImageContainer img {
    width: 100%;
    /*100% of container*/
    border-radius: 50%;
    background-color: white; }

.noResults {
  margin-left: 10px; }
